---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Team from '../components/Team.astro';
import Footer from '../components/Footer.astro';

import divisions from '../json/divisions.json';

export async function getStaticPaths() {
	return divisions.map((division) => ({
		params: { division_id: division.id },
	}));
}

const { division_id } = Astro.params;

const division_name = ((divisions, id) => {
	for (const key in divisions) {
		if (Object.prototype.hasOwnProperty.call(divisions, key)) {
			const division = divisions[key];
			if (division.id === id) {
				return division.name
			}
		}
	}
})(divisions, division_id);
const division_name_ja = ((divisions, id) => {
	for (const key in divisions) {
		if (Object.prototype.hasOwnProperty.call(divisions, key)) {
			const division = divisions[key];
			if (division.id === id) {
				return division.name_ja
			}
		}
	}
})(divisions, division_id);
const path = '/' + division_id;
const m_c_division = 'm_c__' + division_id;
const title = `${division_name} <br>プロチーム一覧`;
const descrption= `${division_name}（${division_name_ja}）の部門を持っている日本の著名プロeスポーツチームの参加ゲームタイトルと、Webサイト,ショップ,SNS,メンバー一覧,Liquipediaなどのリンクがまとめられています。`;

const modal = true;

---
<Layout
	title={title}
	descrption={descrption}
	path={path}
	m_c_division={m_c_division}
>
<Header title={title} modal={modal}></Header>
<main>
		<Team></Team>
	</main>
	<Footer></Footer>
</Layout>

<style>
	main {
		padding-top: 20px;
		background-color: #FFF;
	}
</style>