---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Team from '../components/Team.astro';
import Footer from '../components/Footer.astro';

import divisions from '../json/divisions.json';

const id = 'splatoon';

const division_name = ((divisions, id) => {
	for (const key in divisions) {
		if (Object.prototype.hasOwnProperty.call(divisions, key)) {
			const division = divisions[key];
			if (division.id === id) {
				return division.name
			}
		}
	}
})(divisions, id);
const path = '/' + id;
const m_c_division = 'm_c__' + id;
const title = `${division_name} <br>プロチーム一覧`;
const descrption= `${division_name}の部門を持っている日本の著名プロeスポーツチームの参加ゲームタイトルと、Webサイト,ショップ,SNS,メンバー一覧,Liquipediaなどのリンクがまとめられています。`;
---
<Layout
	title={title}
	descrption={descrption}
	path={path}
	m_c_division={m_c_division}
>
	<Header title={title}></Header>
	<main>
		<Team></Team>
	</main>
	<Footer></Footer>
</Layout>

<style>
	main {
		padding-top: 20px;
		background-color: #FFF;
	}
</style>