---
import teams from '../json/teams.json';
import liqipedia_divisions from '../json/liqipedia_divisions.json';
import { Debug } from 'astro/components';
const win_search_url = 'https://twitter.com/search?q=%23';
---
<Debug {liqipedia_divisions}/>
<ul>
	{
		teams.map((team) => (
			<li>
				<div class="team_logo">
					<img src={'/img/team/' + team.id + '.png'} alt={team.id}>
				</div>
				<p class="team_name">{team.name}</p>
				<p class="team_buby">{team.ruby}</p>
				<p class="team_tag">{team.tag}</p>
				<a class="team_win" href={win_search_url + team.win}>{'#' + team.win}</a>
				<div class="team_links">
					{team.links.map((link) => (
						link.urls.map((url) => (
							<a href={url}><img src={'/img/link/' + link.name + '.png'} alt={link.name}></a>
						))
					))}
				</div>
				<div class="team_divisions">
					{team.divisions.map((division) => (
						<>
							{division.urls.map((url) => (
								<a href={url}><img src={'/img/division/' + division.name + '.png'} alt={division.name}></a>
							))}
							{division.liquipedia ? <a class="liquipedia" href={liqipedia_divisions[division.name]}><img src="/img/division/liquipedia.png" alt="liquipedia"></a> : ''}
						</>
					))}
				</div>
			</li>
		))
	}
</ul>

<style>
ul {

}
li {
	list-style: none;
}
.team_logo {
	width: 100px;
}
.team_logo img {
	width: 100px;
}
.team_name {

}
.team_ruby {

}
.team_tag {

}
.team_win {
	
}
.team_links {

}
.team_links a {
	
}
.team_links a img {
	width: 30px;
}
.team_divisions {

}
.team_divisions a {

}
.team_divisions a img {
	width: 30px;
}
</style>
