---
interface Props {
	title: string;
	descrption: string;
	path: string;
	m_c_division: string;
}

const { title, descrption, path, m_c_division } = Astro.props;

const title_text = title.replace('<br>', '');

const home_url = 'https://estl.actionpterygii.com';

const json_ld = `
<script type="application/ld+json">
	{
		"@context" : "https://schema.org",
		"@type" : "WebSite",
		"name" : "${title_text}",
		"url" : "${home_url + path}"
	}
</script>`;

// チェックボックスにチェックを入れるjs
const division_switcher = `
<script>
	const m_c_checkbox = document.getElementsByClassName("${m_c_division}")[0];
	m_c_checkbox.checked = true;
	// checkboxのから取ったチームごとのclassにあるほうのvidision_name
	const checkbox_class_prefix = 'checkbox m_c__';
	const division_name = m_c_checkbox.className.replace(checkbox_class_prefix, '');
	// チームの表示/非表示切り替え処理
	const team_division_class_prefix = 'team_division__';
	const teams =  document.getElementsByClassName("team");
	for (let i = 0; i < teams.length; i++) {
		const element_team = teams[i];
		// divisionひとつずつみて、全部あれば出す
		let display = true;
		// teamのclassにdivisonない場合
		if (!element_team.classList.contains(team_division_class_prefix + division_name)) {
			// 隠す
			element_team.classList.add('team_hide');
		}
	}
</script>
`;
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name='description' content={descrption}>
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:creator" content="@actionpterygii">
		<meta property="og:title" content={title_text}>
		<meta property="og:description" content={descrption}>
		<meta property="og:url" content={home_url}>
		<meta property='og:image' content={home_url + '/og.png'}>
		<link rel="icon" sizes="16x16" href={home_url + '/favicon.ico'}>
		<title>{title_text}</title>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-BXY5JHZVCM"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-BXY5JHZVCM');
		</script>
		<Fragment set:html={json_ld} />
	</head>
	<body>
		<slot />
		{m_c_division != '' ?
			<Fragment set:html={division_switcher} />
		: ''}
	</body>
</html>
<style is:global>
	:root {
		--text: #000;
		--text_link: #004cff;
		--bacooo: #FFF;
	}
	body,
	header,main,footer,
	div,h1,h2,p,
	a,a:visited,
	img,
	ul,li
	{
		box-sizing: border-box;
		padding: 0;
		outline: 0;
		border: 0;
		margin: 0;
		color: var(--text);
		background-color: var(--bacooo);
		font-size: 12px;
		font-family: "Osaka", "Hiragino Sans", "Arial", sans-serif;
		word-break: break-all;
	}
	body {
		overflow-y: scroll;
	}
</style>
